
{% extends 'base.html' %}
{% block contents %}

<body>
        <div class=" container">
                <form action="{% url 'new' %}">
                       
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">나이 선택 </label>
                          <select class="form-control" name="age" id="exampleFormControlSelect1">
                            <option>0~10</option>
                            <option>10~20</option>
                            <option>20~30</option>
                            <option>30~40</option>
                            <option>40~50</option>
                            <option>50~60</option>
                            <option>60~</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect2">선호 상품선택</label>
                          <select class="form-control" name="present" id="exampleFormControlSelect2">
                            {% for present in presents%}
                            <option>{{present.title}}</option>
                            
                            {% endfor %}
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">제출</button>
                      </form>
        </div>    

{% for present in presents %}
<div class=" container">
    <br>
    <div class="card" style="width: 18rem;">
        <img src="{{present.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{present.title}}</p>
        </div>
      </div>

</div>

{% endfor %}
</body>
{% endblock %}